@if (isConnected) {
  <button class="back-button" (click)="goback()"><i class="fa-solid fa-reply"></i>Retour aux produits</button>
  <div class="product-container">
    <div class="product-card">
      <div class="product-image-carousel">
        @if (images.length > 1) {
          <button class="carousel-btn left" (click)="prevImage()">&#10094;</button>
        }

        <div
          class="carousel-image-wrapper"
          (mousemove)="onMouseMove($event)"
          (mouseenter)="showZoom = true"
          (mouseleave)="showZoom = false"
        >
          <img [src]="images[currentIndex]" alt="product image" class="carousel-image" #imageRef />
        </div>

        @if (images.length > 1) {
          <button class="carousel-btn right" (click)="nextImage()">&#10095;</button>
        }
      </div>

      @if (showZoom) {
        <div class="zoom-window">
          <div
            class="zoom-image"
            [ngStyle]="{
              'background-image': 'url(' + images[currentIndex] + ')',
              'background-position': backgroundPosition,
              'background-size': zoomLevel + '%',
            }"
          ></div>
        </div>
      }

      <div class="product-details">
        <h1 class="product-desc">{{ product.name }}</h1>

        <p class="product-desc">{{ product.desc }}</p>
        <p class="product-price">{{ product.price }} €</p>
        <p class="mini-fiche-stock">
          {{ (product.quantity ?? 0) > 0 ? 'En stock : ' + product.quantity : 'Rupture de stock' }}
        </p>

        <div class="product-actions">
          <button (click)="addToCart(product.id)" class="add-to-cart-button" [disabled]="(product.quantity ?? 0) === 0">
            Ajouter au panier
          </button>

          @for (msg of successMessages; track msg; let i = $index) {
            <div class="feedback-message" [ngStyle]="{ top: 115 + i * 30 + '%', left: '42%' }">
              {{ msg }}
            </div>
          }
        </div>
      </div>
    </div>
  </div>
} @else {
  <jhi-login redirectUrl="/fiche_produit/{{ product.id }}"></jhi-login>
}

<!-- Show similar products for both connected and not connected users -->
@if (alikeProducts.length > 0) {
  <h2 class="alike-title">Produits similaires</h2>
  <div class="alike-products-grid">
    @for (p of alikeProducts; track p.id) {
      <jhi-mini-fiche [idProduit]="p.id"></jhi-mini-fiche>
    }
  </div>
} @else {
  <h2 class="alike-title">Doesnt work lol</h2>
}
