<div class="cart-line">
  <div class="image-wrapper">
    <img class="product-img" [src]="imageUrl || ''" alt="{{ orderLine.product?.name }}" />
    <p class="product-name">{{ orderLine.product?.name ?? 'N/A' }}</p>
  </div>

  <div class="info">
    <div class="details">
      <p>Quantity: {{ orderLine.quantity ?? 'N/A' }}</p>
      <p>Unit Price: {{ orderLine.unitPrice ?? 'N/A' }}</p>
      <p>Total: {{ orderLine.total ?? 'N/A' }}</p>
    </div>

    @if (isCart) {
      <div class="actions">
        <button type="button" (click)="decrement()">-</button>
        <button type="button" (click)="increment()">+</button>
        <button type="button" (click)="delete()">🗑️</button>
      </div>
    }
  </div>
</div>
