<div class="page-layout">
  <!-- FILTERS (LEFT SIDEBAR) -->
  <aside class="filters">
    <h4>Filters</h4>

    <!-- COLOR FILTER -->
    <div class="filter-group">
      <label class="filter-title">Color</label>

      @for (color of getAvailableColors; track color) {
        <label class="filter-checkbox">
          <input type="checkbox" [checked]="colorFilterValues.includes(color)" (change)="toggleFilter('color', color)" />
          <span class="checkbox-label-text">{{ color }}</span>
        </label>
      }
    </div>

    <!-- PRICE FILTER -->
    <div class="filter-group">
      <label class="filter-title">
        Max Price:
        <input
          type="number"
          [min]="0"
          [max]="maxPrice"
          [(ngModel)]="sliderPrice"
          (input)="onSliderChange()"
          (blur)="onEmptyPrice()"
          class="inline-price-input"
        />
        €
      </label>

      <input
        type="range"
        [min]="0"
        [max]="maxPrice"
        [(ngModel)]="sliderPrice"
        (input)="onSliderChange()"
        style="width: 100%; margin-top: 8px"
      />
    </div>

    <!-- TAG FILTER a revoir -->
    <div class="filter-group">
      <label class="filter-title">Tags</label>

      @if (tags.length > 0) {
        @for (tag of tags; track tag.id) {
          <app-tag-label [tag]="tag" [selected]="selectedTagIds.includes(tag.id!)" (toggled)="onTagToggled($event)"></app-tag-label>
        }
      } @else {
        <p>No tags</p>
      }
    </div>
  </aside>

  <!-- PRODUCT ZONE -->
  <div class="container">
    <main class="products">
      <!-- Loading message -->
      @if (loading && (query || selectedTagIds.length > 0)) {
        <p>Loading products...</p>
      }

      <!-- Search results -->
      @if (!loading) {
        <h2>
          Search results
          @if (query) {
            for: <span style="color: #1a73e8; font-weight: 600">"{{ query }}"</span>
          } @else {
            for tag: <span style="color: #1a73e8; font-weight: 600">"{{ selectedTagName }}"</span>
          }
        </h2>

        <p>
          @if (filteredProducts.length === 0) {
            No products found
            @if (query) {
              for: "{{ query }}"
            } @else {
              for tag: "{{ selectedTagName }}"
            }
          }
        </p>

        <div class="mini-fiche-list">
          @for (product of filteredProducts; track product.id) {
            <jhi-mini-fiche [idProduit]="product.id!"></jhi-mini-fiche>
          }
        </div>
      }
    </main>
  </div>
</div>
