h2 {
  border-bottom: 2px solid black;
  border-bottom-left-radius: 10px;
  margin-top: 1rem;
  margin-inline: 3% 15%;
  padding-left: 10px;
}

.card_number input {
  width: 3rem;
}
div.ng-invalid {
  border: none;
  box-shadow: none;
}
.flex {
  display: flex;
}
.prodOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
h1 {
  margin: auto;
}
