.card_number input {
  width: 3rem;
}
div.ng-invalid {
  border: none;
  box-shadow: none;
}
.flex {
  display: flex;
}
.prodOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
h1 {
  margin: auto;
}
