<div [formGroup]="adresseForm">
  <div>
    <label>Prénom :</label>
    <input type="text" formControlName="firstName" placeholder="Jean" /><br />
  </div>

  <div>
    <label>Nom :</label>
    <input type="text" formControlName="lastName" placeholder="Dupont" /><br />
  </div>

  <div>
    <label>Email :</label>
    <input type="email" formControlName="email" placeholder="jean.dupont@gmail.com" /><br />
  </div>

  <div>
    <label>Téléphone :</label>
    <input type="tel" formControlName="phoneNumber" placeholder="01 23 45 67 89" /><br />
  </div>

  <div>
    <label>Adresse :</label>
    <input type="text" formControlName="adress" placeholder="12 Rue Nationale" /><br />
  </div>

  <div>
    <label>Code postal :</label>
    <input type="text" formControlName="postalCode" placeholder="59000" /><br />
  </div>

  <div>
    <label>Ville :</label>
    <input type="text" formControlName="city" placeholder="Lille" /><br />
  </div>
</div>
