@if (userConnected) {

  @if (!order?.valid) {
    <button class="back-button" (click)="goback()">
      <i class="fa-solid fa-reply"></i> Retour
    </button>
  }

  <div class="tcg-cart-wrapper">
    <div class="tcg-cart-frame">
      <div class="tcg-cart-header">

        @if (!order?.valid) {
          <h2 class="cart-title">Votre panier</h2>
        }

        @if (!order?.valid && items.length > 0) {
          <button class="tcg-pay-button">
            <a routerLink="/payment">Payer {{ totalPrice }} €</a>
          </button>
        }
      </div>

      <div class="tcg-cart-divider"></div>

      <div class="tcg-cart-content">
        @if (items.length > 0) {
          @for (item of items; track item.id) {
            <jhi-cart-line [orderLine]="item" [isCart]="!order?.valid" (updated)="onLineUpdated($event)"> </jhi-cart-line>
          }
        } @else {
          <p class="empty-cart">Votre panier est vide.</p>
        }
      </div>
    </div>
  </div>
} @else {
  <jhi-login [redirectUrl]="redirectURL"></jhi-login>
}
