<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tag(); as tagRef) {
      <div>
        <h2 data-cy="tagDetailsHeading"><span jhiTranslate="ecom20252026App.tag.detail.title">Tag</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="ecom20252026App.tag.id">Id</span></dt>
          <dd>
            <span>{{ tagRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="ecom20252026App.tag.name">Name</span></dt>
          <dd>
            <span>{{ tagRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="ecom20252026App.tag.id">Id</span></dt>
          <dd>
            @for (id of tagRef.ids; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/product', id.id, 'view']">{{ id?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/tag', tagRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
